@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 217 91.2% 59.8%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 27.9% 90%;
    --secondary-foreground: 215.4 16.3% 46.9%;

    --muted: 215 27.9% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 330 84.2% 60.2%;
    --accent-foreground: 336 100% 97.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217 91.2% 59.8%;

    --radius: 0.5rem;

    --chart-1: 217 91.2% 59.8%; /* blue */
    --chart-2: 142.1 70.6% 45.3%; /* green */
    --chart-3: 330 84.2% 60.2%; /* pink */
    --chart-4: 43 95.8% 53.1%; /* yellow */
    --chart-5: 262.1 83.3% 57.8%; /* purple */
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 217 91.2% 59.8%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 330 84.2% 60.2%;
    --accent-foreground: 336 100% 97.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 217 91.2% 59.8%;
    
    --chart-1: 217 91.2% 59.8%;
    --chart-2: 142.1 70.6% 45.3%;
    --chart-3: 330 84.2% 60.2%;
    --chart-4: 43 95.8% 53.1%;
    --chart-5: 262.1 83.3% 57.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .prose ul, .prose ol {
    @apply pl-4;
  }

  .prose ul ul, .prose ol ol, .prose ul ol, .prose ol ul {
      @apply pl-6;
  }
  
  .ProseMirror ul, .ProseMirror ol {
    @apply list-inside;
  }
  
  .ProseMirror ul ul, .ProseMirror ol ol {
    @apply pl-4;
  }

  .prose table,
  .ProseMirror table {
    @apply w-full my-4 border-collapse;
  }
  .prose th, .prose td,
  .ProseMirror th, .ProseMirror td {
    @apply border border-border p-2 text-left;
  }
  .prose th,
  .ProseMirror th {
    @apply bg-muted font-bold;
  }
}
